.body{
    width: 25vw;
    height: 80vh;
    margin:3rem auto;
    border-radius: 5%;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width:thin;
    
    /* width */
}
::-webkit-scrollbar {
    width: 0px;
  }

.container{
    position: relative;
}
