.header{
    font-size: 5vw;
    font-family: 'Kumbh Sans';
    text-align: center;
    background-color: rgb(156,39,176);
   
}
.inputs{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: space-evenly;
    
}
